/*
 * 글꼴, 색상, 스타일 전역변수 정의
 */
@font-face {
  font-family: 'SUITE-Regular';
  src: url('../static/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
:root {
  --line: #393A40;
  --main-1: #0C0C0C;
  --main-2: #323338;
  --text-2: #8E8F9B;
}


/*
 * Base structure
 */
body {
  background-color: var(--main-1);
  /* SUITE 못 찾으면 sans-serif 사용 */
  font-family: 'SUITE-Regular', sans-serif; 
  /* height: 100%;
  margin: 0; */
}

/*
 * Header
 */
nav {
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: var(--line);
}
.nav-item {
  position: relative;
  text-align: center;
  font-size: 1vw;
  width: 15vw;
  padding: 20px;
  padding-bottom: 30px;

  border-left-width: 0px;
  border-right-width: 1px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-style: solid;
  border-color: var(--line);
}

/* 여기서 header는 navbar-nav 의 높이를 기준으로 정해진다고 볼 수 있음 */
.navbar-nav {
  height: 15vh;
}
#nav-item-first {border-left-width: 1px; }
.nav-link {
  color: white; font-weight: 700;
}

#custom-nav-item:hover,
#custom-nav-item:active,
#custom-nav-item.visited {
  background-color: var(--main-2);
}

.nav-item-inner {
  position:absolute; 
  bottom:0;
  left:0;
  font-size: 0.5em;
  color:white; font-weight: 400; letter-spacing: -0.14px; opacity: 0.6;
  padding: 8px;
}

/*
 * Main
 */
.custom-container-default {
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 15vw;
  padding-right: 15vw;
  min-height: 45vh;
}


/*
* Footer
*/
.custom-footer {
  color:var(--line);
  display: flex;
  justify-content: center; 
  align-items: center; 
  border-style: solid;
  border-top-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-color: var(--line);
}