<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="d-flex flex-column" style="padding-top:3vh;"
th:fragment="item">

  <!-- 렌더링시 제거 block -->
  <th:block th:each="item : ${items}" th:object="${item}">
    <div th:class="${item.id==items[0].id}? 'gallery-item-first' : 'gallery-item-many'"
    style="flex:1; padding-top: 30px;">
      <div class="d-flex flex-column pe-4" style="flex:0.15;">
        <span class="" style="font-weight: 500; color: white; font-size: 1.2vw;" th:text="'No.'+*{id}">No.15</span>
        <span class="pt-2" style="font-weight: 400; color: var(--text-2); font-size: 1vw; letter-spacing: -0.16px;
        " th:field="*{{date1}}">23.05.22.16:00</span>
      </div>
      <div class="d-flex flex-column pe-4" style="flex:0.42;">
        <span class="text-truncate" style="font-weight: 500; color: white; font-size: 1.2vw; width:25vw;" th:text="*{title}">최근에 있엇던 대외비</span>
        <span class="text-truncate pt-2" style="font-weight: 400; color: var(--text-2); font-size: 1vw; letter-spacing: -0.16px; width:25vw;
        " th:text="*{nickName} ">방문자가작성한닉네임</span>

        <a class="btn btn-light mt-4" type="button" id="enterBtn"
        style="font-size: 1vw;
        align-self: flex-start; width: 12vw; padding:0.5em;"
        href="#" th:href="@{|/gallery/${pageId}/itemDetail/*{id}|}">
          <span class="fw-bold" id="enterBtn1" style="font-size: 1em; white-space: nowrap;" th:text="|*{id}전시실 입장|">15전시실 입장 test용</span>
        </a>
      </div>
      <div class="d-flex flex-column" style="flex:0.43;">
        <img class="img-fluid" src="../static/6.png"
           th:src="@{|/image/*{imgSrc}|}"
        style="height:15vh; border-radius: 10vh 10vh 0 0;"/>
      </div>
    </div>
  </th:block>

</div>


</body>
</html>