<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    
    <!-- productModal - 반드시 id를 선언해야 적용이 됨(Button에서 id를 타깃으로 하기 때문) -->
    <div class="modal modal-lg" id="productModal" tabindex="-1" aria-hidden="ture"
    th:fragment="productModal">
      <div class="modal-dialog modal-dialog-centered" style="">
        <div class="modal-content p-2" style="width:100vw; background-color: var(--main-1); border-width: 1px; border-color: white; border-style: solid; border-radius: 0px;">

<!--        <form action="/studioComplete" -->
<!--        th:action="${(item?.id!=null) ? '/studioComplete/'+item.id-->
<!--        : '/studioComplete'}" th:object="${item}"-->
<!--        method="post">-->
          <form th:action th:object="${item}"
                method="post">
          <div class="modal-header pb-0" style="border-width: 0px;">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="width: 3vw; height: 3vw; font-size: 0px;">
              <img class="img-fluid" src="../static/close.svg" 
                th:attr="src=@{/close.svg},title=#{logo},alt=#{logo}" style="width:70%;"/>
            </button>
          </div>

          <div class="modal-body" style="padding-left: 5vw; padding-right: 5vw;">
            <div class="container d-flex flex-column">
              <!-- 상단 -->
              <div class="container d-flex flex-column " style="padding:0px; padding-bottom:1vw;">
                
                <div class="container d-flex flex-row " style="padding:0px; padding-bottom:1vw;" >
                  <div class="container d-flex flex-column " style="padding:0px; padding-right:1vw;">
                    <label class="pb-2" style="font-size: 1.2vw; font-weight: 500;color: white;" th:text="#{label.item.location}">작품위치</label>
                    <span style="font-size: 1.2vw; font-weight: 500;color: white;">?전시실</span>

                  </div>
                  <div class="container d-flex flex-column " style="padding:0px; padding-left:1vw;">
                    <label for="nickName" class="pb-2" style="font-size: 1.2vw; font-weight: 500;color: white;" th:text="#{label.item.nickName}">작가명</label>
                    <input type="text" class="" th:field="*{nickName}" id="nickName" name="nickName" placeholder="미입력 시 '익명'으로 출품됩니다." style="color: var(--text-2); letter-spacing: -0.16px; font-weight: 400; font-size: 1vw; background-color: var(--main-2); stroke-width: 1px; stroke: var(--line); border-width: 0px; padding: 1vw; padding-top: 0.5vw; padding-bottom: 0.5vw;"
                    >
                  </div>
                </div>

                <div class="container d-flex flex-row p-0 pb-2" >
                  <div class="container d-flex flex-column " style="padding:0px; padding-right:1vw;">
                    <label class="pb-2" style="font-size: 1.2vw; font-weight: 500;color: white;" th:text="#{label.item.title}">작품명</label>
                    <input type="text" class="" th:field="*{title}" id="title" name="title" placeholder="미입력 시 ‘무제'로 출품됩니다." style="color: var(--text-2); letter-spacing: -0.16px; font-weight: 400; font-size: 1vw; background-color: var(--main-2); stroke-width: 1px; stroke: var(--line); border-width: 0px; padding: 1vw; padding-top: 0.5vw; padding-bottom: 0.5vw;"
                    >
                  </div>
                  <div class="container d-flex flex-column " style="padding:0px; padding-left:1vw;">
                    <label class="pb-2" style="font-size: 1.2vw; font-weight: 500;color: white;" th:text="#{label.item.password}">비밀번호</label>
                    <input type="password" class="no-spin" th:field="*{password}" id="password" name="password" pattern="\d+" required onkeypress='return checkNumber(event)' placeholder="숫자로 입력해주세요." style="color: var(--text-2); letter-spacing: -0.16px; font-weight: 400; font-size: 1vw; background-color: var(--main-2); stroke-width: 1px; stroke: var(--line); border-width: 0px; padding: 1vw; padding-top: 0.5vw; padding-bottom: 0.5vw;">
<!--                    <input type="password" class="no-spin" th:field="*{password}" id="password" name="password" placeholder="숫자로 입력해주세요." style="color: var(&#45;&#45;text-2); letter-spacing: -0.16px; font-weight: 400; font-size: 1vw; background-color: var(&#45;&#45;main-2); stroke-width: 1px; stroke: var(&#45;&#45;line); border-width: 0px; padding: 1vw; padding-top: 0.5vw; padding-bottom: 0.5vw;">-->
                    <span class="pt-2" style="color: var(--text-2); font-weight: 400; font-size: 0.8vw;">*정보 수정&작품 파기 시 사용됩니다.</span>
                  </div>
                </div>

              </div>
              
              <!-- 하단 -->
              <div class="container d-flex flex-column p-0">
                <label class="pb-2" style="font-size: 1.2vw; font-weight: 500;color: white;" th:text="#{label.item.content}">작품설명</label>
                <textarea type="text" class="no-scroll" th:filed="*{content}" id="content" name="content" placeholder="미입력 시 공란으로 출품됩니다." style="color: var(--text-2); letter-spacing: -0.16px; font-weight: 400; font-size: 1vw; background-color: var(--main-2); border-width: 0px; padding: 1vw; padding-top: 0.5vw; padding-bottom: 2vw;"
                ></textarea>
              </div>
            </div>
          </div>

          <div class="modal-body" style="padding-bottom:1vw; padding-top:1vw; padding-left: 5vw; padding-right: 5vw; border-width: 0px;">
            <div class="container">
            <button class="btn btn-light m-0" type="submit"
            style="width: 100%; height: 100%; border-radius: 0px;font-size: 1vw; padding:1vw;">
              <span class="fw-bold" style="color: var(--main-1); font-size: 1.5em;" th:text="#{button.product.add}">작품 전시하기</span>
            </button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>


    <!-- updateModal -->
    <div class="modal modal-lg" id="updateModal" tabindex="-1" aria-hidden="ture"
         th:fragment="updateModal">
      <div class="modal-dialog modal-dialog-centered" >
        <div class="modal-content p-2" style="width:100vw; background-color: var(--main-1); border-width: 1px; border-color: white; border-style: solid; border-radius: 0px;">

          <form th:action th:object="${item}"
                method="post">
            <div class="modal-header pb-0" style="border-width: 0px;">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="width: 3vw; height: 3vw; font-size: 0px;">
                <img class="img-fluid" src="../static/close.svg"
                     th:attr="src=@{/close.svg},title=#{logo},alt=#{logo}" style="width:70%"/>
              </button>
            </div>

            <div class="modal-body" style="padding-left: 5vw; padding-right: 5vw;">
              <div class="container d-flex flex-column">
                <!-- 상단 -->
                <div class="container d-flex flex-column" style="padding:0px; padding-bottom:1vw;" >

                  <div class="container d-flex flex-row " style="padding:0px; padding-bottom:1vw;">
                    <div class="container d-flex flex-column" style="padding:0px; padding-right:1vw;">
                      <label class="pb-2" style="font-size: 1.2vw; font-weight: 500;color: white;" th:text="#{label.item.location}">작품위치</label>
                      <span th:text="*{id}+'전시실'" style="font-size: 1.2vw; font-weight: 500;color: white;">?전시실</span>
                      <input th:field="*{id}" hidden="true"/>

                    </div>
                    <div class="container d-flex flex-column" style="padding:0px; padding-left:1vw;">
                      <label for="nickName" class="pb-2" style="font-size: 1.2vw; font-weight: 500;color: white;" th:text="#{label.item.nickName}">작가명</label>
                      <input type="text" class="" th:field="*{nickName}" id="nickName" name="nickName" placeholder="미입력 시 '익명'으로 출품됩니다." style="color: var(--text-2); letter-spacing: -0.16px; font-weight: 400; font-size: 1vw; background-color: var(--main-2); stroke-width: 1px; stroke: var(--line); border-width: 0px; padding: 1vw; padding-top: 0.5vw; padding-bottom: 0.5vw;"
                      >
                    </div>
                  </div>

                  <div class="container d-flex flex-row " style="padding:0px; ">
                    <div class="container d-flex flex-column " style="padding:0px; padding-right:1vw;">
                      <label class="pb-2" style="font-size: 1.2vw; font-weight: 500;color: white;" th:text="#{label.item.title}">작품명</label>
                      <input type="text" class="" th:field="*{title}" id="title" name="title" placeholder="미입력 시 ‘무제'로 출품됩니다." style="color: var(--text-2); letter-spacing: -0.16px; font-weight: 400; font-size: 1vw; background-color: var(--main-2); stroke-width: 1px; stroke: var(--line); border-width: 0px; padding: 1vw; padding-top: 0.5vw; padding-bottom: 0.5vw;"
                      >
                    </div>
                    <div class="container d-flex flex-column" style="padding:0px; padding-left:1vw;">
                      <label class="pb-2" style="font-size: 1.2vw; font-weight: 500;color: white;" th:text="#{label.item.password}">비밀번호</label>
                      <input type="password" class="no-spin" th:field="*{password}" id="password" name="password" pattern="\d+" required onkeypress='return checkNumber(event)' placeholder="숫자로 입력해주세요." style="color: var(--text-2); letter-spacing: -0.16px; font-weight: 400; font-size: 1vw; background-color: var(--main-2); stroke-width: 1px; stroke: var(--line); border-width: 0px; padding: 1vw; padding-top: 0.5vw; padding-bottom: 0.5vw;">
                      <span class="pt-2" style="color: var(--text-2); font-weight: 400; font-size: 0.8vw;">*정보 수정&작품 파기 시 사용됩니다.</span>
                    </div>
                  </div>

                </div>

                <!-- 하단 -->
                <div class="container d-flex flex-column p-0">
                  <label class="pb-2" style="font-size: 1.2vw; font-weight: 500;color: white;" th:text="#{label.item.content}">작품설명</label>
                  <textarea type="text" class="no-scroll" th:filed="*{content}" id="content" name="content" placeholder="미입력 시 공란으로 출품됩니다." style="color: var(--text-2); letter-spacing: -0.16px; font-weight: 400; font-size: 1vw; background-color: var(--main-2); border-width: 0px; padding: 1vw; padding-top: 0.5vw; padding-bottom: 2vw;"
                  ></textarea>
                </div>
              </div>
            </div>

            <div class="modal-body " style="padding-top:1vw; padding-bottom:1vw; padding-left: 5vw; padding-right: 5vw; border-width: 0px;">
              <div class="container">
                <button class="btn btn-light m-0" type="submit"
                        style="width: 100%; height: 100%; border-radius: 0px;font-size: 1vw; padding:1vw;">
                  <span class="fw-bold" style="color: var(--main-1); font-size: 1.5em;" th:text="#{button.update.add}">작품 수정하기</span>
                </button>
              </div>
            </div>
            <!-- imgSrc 임의로 넣기(생성때는 파라미터로 따로 받아오므로 적용안했음) -->
            <input th:field="*{imgSrc}" hidden="true">
          </form>
        </div>
      </div>
    </div>







    <!-- updateNDeleteModal  -->
    <div th:fragment="updateNDeleteModal(operate)">
    <div class="modal modal-lg" th:id="|${operate}Modal|" tabindex="-1" aria-hidden="ture">
      <div class="modal-dialog modal-dialog-centered" >
        <div class="modal-content" style="width:100vw; background-color: var(--main-1); border-width: 1px; border-color: white; border-style: solid; border-radius: 0px; padding-left: 3vw; padding-right: 3vw; padding-top: 2vw; padding-bottom: 3vw">
          <form th:action="@{|/gallery/${pageId}/${operate}/${item?.id}|}" th:object="${item}" method="post">
            <div class="modal-header pb-0" style="border-width: 0px;">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="width: 3vw; height: 3vw; font-size: 0px;">
                <img class="img-fluid" src="../static/close.svg"
                  th:attr="src=@{/close.svg},title=#{logo},alt=#{logo}" style="width:70%"/>
              </button>
            </div>

            <div class="modal-body" style="">
              <div class="container d-flex flex-column " style="padding:0px; padding-bottom:2vw;">
                <label for="password" class="pb-2" style="font-size: 2vw; font-weight: 500;color: white;">비밀번호 입력</label>
                <span class="" style="padding-bottom:1vw; width:30vw; color: var(--text-2); font-weight: 400; font-size: 1.2vw; letter-spacing: -0.16px;">작품을 등록할 때 입력하신 비밀번호를 다시 한 번 입력해주세요.</span>
                <input type="password" class="no-spin" th:field="*{password}" id="password" name="password" pattern="\d+" required onkeypress='return checkNumber(event)' placeholder="비밀번호 입력" style=" color: var(--text-2); letter-spacing: -0.16px; font-weight: 400; font-size: 1vw; background-color: var(--main-2); stroke-width: 1px; stroke: var(--line); border-width: 0px; padding: 1vw; padding-top: 0.5vw; padding-bottom: 0.5vw;">
              </div>
            </div>

            <div class="modal-footer" style="border-width: 0px; padding-left: 16px; padding-right:16px;">
              <div class="container d-flex flex-row p-0 m-0" >
                <button class="btn btn-light" type="button" data-bs-dismiss="modal" aria-label="Close"
                style="padding:1vw; flex:1; background-color: var(--main-1); border-color: var(--line); border-radius: 1px; font-size: 1vw;">
                  <span class="fw-bold" style="color: white; font-size: 1.5em;" th:text="#{button.cancel}">취소</span>
                </button>
                <button class="btn btn-light" type="submit"
                style="padding:1vw; flex:1; border-radius: 0px; font-size: 1vw;">
                  <span class="fw-bold" style="color: var(--main-1); font-size: 1.5em;" th:text="#{button.ok}">확인</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>




  </body>
  
</html>