<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head('작품상세')">
  </head>

  <body>
    <script th:replace="fragments/scripts :: scripts5">
    </script>

    <!-- 커스텀 CSS -->
    <style>
    </style>

    <!-- header -->
    <nav th:replace="fragments/header :: header"
    class="navbar navbar-expand-md navbar-dark p-0">
    </nav>

    <hr style="color:white;"/>

    <!-- main 개발 -->
    <div class="custom-container-default" th:object="${item}">

      <!-- 작품제목 -->
      <div class=" d-flex" style="text-align: start; padding-bottom: 16px; padding-left:1vw; padding-right:1vw;">
        <div class="" style="flex:0.8">
          <h4 style="font-size:1.5vw; color: white; font-weight: 700;" th:text="*{title}" >최근에 있었던 대외비</h4>
        </div>
        <div class="d-flex" style="flex:0.2; justify-content: end;">
          <button class="btn btn-light" type="button" onclick="redirectSavedBgm()"
          data-bs-toggle="modal" data-bs-target="#updateModal"
          style="flex:1; border-radius: 0px; font-size: 1vw; border-width: 1px; background-color: var(--main-1);">
            <span class="" style="color: white; font-size: 1em; font-weight: 500; letter-spacing: -0.16px;">수정</span>
          </button>
          <button class="btn btn-light ms-2" type="button" onclick="redirectSavedBgm()"
          data-bs-toggle="modal" data-bs-target="#deleteModal"
          style="flex:1; border-radius: 0px; font-size: 1vw; border-width: 1px; background-color: var(--main-1);">
            <span class="" style="color: #FD6363; font-size: 1em; font-weight: 500; letter-spacing: -0.16px;">삭제</span>
          </button>
        </div>
      </div>

      <!-- 작품그림 -->
      <div th:replace = "fragments/album :: album"
      class="container d-flex" >
            TEST
      </div>

      <!-- 작품상세 -->
      <div class=" d-flex flex-column pt-0" style="padding-bottom: 4vw;  padding-left:1vw; padding-right:1vw;">
        <div class="d-flex" style="padding-top:1vw; padding-bottom:2vw;">
          <img class="img-fluid " src="../static/stroke.svg"
          th:attr="src=@{/stroke.svg},title=#{logo},alt=#{logo}"
          style="align-self: flex-start; padding-right:1.5vw; height:3vw; "/>
          <div class="d-flex flex-column" style="flex:1;">
            <span class="pb-2" style="font-weight: 700; color: var(--text-2); font-size: 1vw;" th:text="#{label.item.location}">작품위치</span>
            <span style="letter-spacing: -0.22px; font-weight: 400; color: white; font-size: 1.2vw;"
            th:text="*{No} + '전시실'">15전시실</span>
          </div>
          <img class="img-fluid " src="../static/stroke.svg"
          th:attr="src=@{/stroke.svg},title=#{logo},alt=#{logo}"
          style="align-self: flex-start; padding-right:1.5vw;  height:3vw; margin-left:0.5vw;"/>
          <div class="d-flex flex-column " style="flex:2;">
            <span class="pb-2" style="font-weight: 700; color: var(--text-2); font-size: 1vw;" th:text="#{label.item.product.date}">제작일자</span>
            <span style="letter-spacing: -0.22px; font-weight: 400; color: white; font-size: 1.2vw;"
            th:filed="*{{date2}}" th:text="*{{date2}}">23년 05월 22일 16시 23분</span>
          </div>
        </div>
        <div class="d-flex " style="padding-top:1vw;">
          <img class="img-fluid " src="../static/stroke.svg"
          th:attr="src=@{/stroke.svg},title=#{logo},alt=#{logo}"
          style="align-self: flex-start; padding-right:1.5vw;  height:3vw;"/>
          <div class="d-flex flex-column" style="flex:1;">
            <span class="pb-2" style="font-weight: 700; color: var(--text-2); font-size: 1vw;" th:text="#{label.item.nickName}">작가명</span>
            <span style="letter-spacing: -0.22px; font-weight: 400; color: white; font-size: 1.2vw;"
            th:text="*{nickName}">김익명</span>
          </div>
          <img class="img-fluid " src="../static/stroke.svg"
          th:attr="src=@{/stroke.svg},title=#{logo},alt=#{logo}"
          style="align-self: flex-start; padding-right:1.5vw;  height:3vw; margin-left:0.5vw;"/>
          <div class="d-flex flex-column" style="flex:2;">
            <span class="pb-2" style="font-weight: 700; color: var(--text-2); font-size: 1vw;" th:text="#{label.item.content}">작품설명</span>
            <span style="letter-spacing: -0.22px; font-weight: 400; color: white; font-size: 1.2vw;"
            th:text="*{content}">최근에 이름 들으면 알 만한 회사랑 어떤 프로젝트 협업할 뻔했는데, 중간에 갑자기 뭐가 바껴서 결국 나랑 하기로 한 건 무산되었다. 너무 아까운 일이었는데 대외비라 어디에 이름 까고 말도 못해서 답답했음. 근데 최근에 보니까 그 프로젝트 초대박났더라고 하......^^^^;;; 또 생각해도 개빡치네*발ㅠㅠ</span>
          </div>
        </div>
      </div>

      <!-- 게시물 이동 -->
      <div class=" d-flex flex-column"
      style="min-height: 10vw; padding-top:4vw; padding-bottom: 4vw;  padding-left:1vw; padding-right:1vw;">

        <th:block th:each="findItem : ${items}" th:object="${findItem}">
        <a th:if="${(len==1)}" class="btn d-flex  " type="button"
        style="width: 100%; height: 100%; border-radius: 0px; border-width: 0px; background-color: #242424;
        font-size: 1vw; padding-left: 1.3vw; padding-right: 1.3vw; padding-top:1.3vw; padding-bottom:1.3vw; "
                th:href="|@{/gallery/{pageId}/itemDetail/{id}(id=*{id},pageId=${pageId})}|" th:onclick="redirectSavedBgm();">
          <img class="img-fluid" src="../static/arrow-down.svg"
          th:attr="src=@{/arrow-down.svg},title=#{logo},alt=#{logo}" style="height: 2em; flex:0.01; align-self: center;"/>
          <div class="m-0 d-flex flex-column" style="flex:1; text-align: start; align-self: center; padding-left: 1.3vw; padding-right: 1.3vw;">
            <span class="text-truncate" style="flex:1; font-weight: 400; color: var(--text-2); font-size: 1vw; letter-spacing: -0.16px; width:45vw;">이전 전시실 입장</span>
            <span class="text-truncate" th:text="*{title}" style="flex:1; font-weight: 500; color: white; font-size: 1.2vw;">어디까지길어지는거예요?어디까지길어지는거예요?어디까지길어지는거예요?어디까지길어지는거예요? 어디까지길어지는거예요?</span>
          </div>
          <span class="" th:text="*{{date1}}" th:field="*{{date1}}" style="flex:0.1 font-weight: 400; color: var(--text-2); font-size: 1vw; letter-spacing: -0.16px;
          align-self: center;">23.05.21.16:00k</span>
        </a>

        <a th:unless="${(len==1)}" class="btn d-flex " type="button"
                style="width: 100%; height: 100%; border-radius: 0px; border-width: 0px; background-color: #242424;
      font-size: 1vw; padding-left: 1.3vw; padding-right: 1.3vw; padding-top:1.3vw; padding-bottom:1.3vw; margin-top:1.3vw;"
                th:href="|@{/gallery/{pageId}/itemDetail/{id}(id=*{id},pageId=${pageId})}|" th:onclick="redirectSavedBgm();">
          <img class="img-fluid" src="../static/arrow-up.svg" th:src="@{|/arrow-${(items[0].id==findItem.id) ? 'up' : 'down'}.svg|}"
               style="height: 2em; flex:0.01; align-self: center;"/>
          <div class="m-0 d-flex flex-column" style="flex:1; text-align: start; align-self: center; padding-left: 24px; padding-right: 24px;">
            <span class="text-truncate" th:text="${(items[0].id==findItem.id) ? '이전 전시실 입장' : '이후 전시실 입장'}" style="flex:1; font-weight: 400; color: var(--text-2); font-size: 1vw; letter-spacing: -0.16px; width:45vw;">이전 전시실 입장</span>
            <span class="text-truncate" th:text="*{title}" style="flex:1; font-weight: 500; color: white; font-size: 1.2vw; width:45vw;">어디까지길어지는거예요?어디까지길어지는거예요?어디까지길어지는거예요?어디까지길어지는거예요? 어디까지길어지는거예요?</span>
          </div>
          <span class="" th:text="*{{date1}}" th:field="*{{date1}}" style="flex:0.1; font-weight: 400; color: var(--text-2); font-size: 1vw; letter-spacing: -0.16px;
        align-self: center;">23.05.21.16:00</span>
        </a>

        </th:block>

      </div>

      <!-- 탈출버튼 -->
      <div class=" d-flex" style=" padding-left:1vw; padding-right:1vw;">
        <div class="" style="flex:0.75"></div>
        <a class="btn btn-light m-0" type="button" onclick="redirectSavedBgm()"
        style="border-radius: 0px;
        height: 100%; flex:0.25; padding:1vw;"
        href="gallery.html" th:href="@{|/gallery/${pageId}|}">
          <span class="fw-bold" style=" color: var(--main-1); font-size: 1.3vw;" th:text="#{button.exit}">전시실 나가기</span>
        </a>
      </div>

    </div>


    <!-- footer -->
    <footer th:replace="fragments/footer :: footer"
    class="custom-footer">
      <br><br>
      <span class="fs-6" style="font-family: 'SUITE-Regular', sans-serif;">Copyright © 2023 YE-BEEN. All Rights Reserved</span>
    </footer>



    <!-- updateNDeleteModal - update -->
    <div class="modal modal-lg" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="ture"
    th:replace="fragments/modal :: updateNDeleteModal('update')">
    </div>


    
    <!-- updateNDeleteModal - delete -->
    <div class="modal modal-lg" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="ture"
    th:replace="fragments/modal :: updateNDeleteModal('delete')">
    </div>






    <script th:replace="fragments/scripts :: scripts1"
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>

    <!-- Jquery CDN 로드 : 항상 최신 버전 사용 -->
    <script th:replace="fragments/scripts :: scripts4" src="https://code.jquery.com/jquery-latest.min.js"></script>

    <script th:replace="fragments/scripts :: scripts2">
      // nav 클릭때마다 배경색 변경 커스텀
      // 스크롤시 NavBar 불투명도 변경
    </script>

    <script th:replace="fragments/scripts :: scripts3">
      // 비밀번호 정규식 등록
    </script>

  </body>
</html>

