<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head('테스트 화면')">

  </head>
  <body>

    <!-- header -->
    <nav th:replace="fragments/header :: header"> 
      
    </nav>

    <!-- main 개발 -->
    <div class="modal modal-lg" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="productModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Recipient:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


    <!-- footer -->
    <footer th:replace="fragments/footer :: footer">

    </footer>


    <script th:replace="fragments/scripts :: scripts">

    </script>
  </body>
</html>

